{% extends 'base.html' %}

{% block baner %} {% endblock %}

{% block content %}
    <title>Boleto - Online Ticket Booking Website HTML Template</title></head>
<body><!-- ==========Preloader========== -->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon"><span></span><span></span></div>
    </div>
</div><!-- ==========Preloader========== --><!-- ==========Sign-In-Section========== -->
<section class="account-section bg_img" data-background="./assets/images/account/account-bg.jpg">
    <div class="container">
        <div class="padding-top padding-bottom">
            <div class="account-area">
                <div class="section-header-3"><span class="cate">hello</span>
                    <h2 class="title">welcome back</h2></div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <div class="form-group text-center"><input type="submit" value="log in"></div>
                </form>
                <div class="option"> Еще нет аккаунта? <a href="{% url 'register' %}">Зарегистрируйся</a></div>


            </div>
        </div>
    </div>
</section><!-- ==========Sign-In-Section========== -->
{% endblock %}